body {
  top: 0; left: 0; width: 99%; height: 99%; position: absolute; display: table 
}

.menu {
  font-family: Arial, sans-serif;
  width: 300px;
  margin: auto;
}

.toggle {
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.description {
  display: none;
  padding: 10px;
}

.description p {
  margin: 0;
}

.toggle.active + .description {
  display: block;
}

a {color: #75c0e0}

.header {
  text-align: center;
}

h2 {
    text-align: center;
}

h6 {
    text-align: center;
}

.price {
    float: right;
    font-weight: bold;
}
