body {
  top: 0; left: 0; width: 99%; height: 99%; position: absolute; display: table; 
}

.menu {
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.toggle {
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding-right: 30%;
}

.description {
  display: none;
  padding-right: 30%;
}

.description p {
  margin: 0;
}

.toggle.active + .description {
  display: block;
}

a {color: #75c0e0}

.header {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.price { 
  float: right;
  font-weight: bold;
}
